/* Chakra Custom Tabs */

.css-15mi7bd {
  margin-right: 0.5rem;
  background-color: rgb(247, 247, 247) !important;
  color: gray !important;
}

.css-15mi7bd[aria-selected=true], .css-15mi7bd[data-selected] {
  color: rgba(245, 245, 245) !important;
  background: rgb(43, 43, 43) !important;
}

