.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.react-datepicker__month-container {
  width: 320px;
}

.react-datepicker__day-name, .react-datepicker__time-name {
  width: 2.5rem;
  line-height: 2.2rem;
  font-size: 1rem;
  font-weight: 600;
}

.react-datepicker__day{
  width: 2.5rem;
  line-height: 2rem;
  font-size: 1rem;
}
