@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #eaeaed !important;
}

.ag-root-wrapper-body.ag-layout-normal {
    height: 30rem !important;
}

@layer components {
    .body-no-scroll {
        @apply overflow-hidden;
    }
    .loader {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        z-index: 99999;
    }

    .loader-inner {
        bottom: 0;
        height: 60px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    .loader-line-wrap {
        animation: spin 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        box-sizing: border-box;
        height: 50px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform-origin: 50% 100%;
        width: 100px;
    }

    .loader-line {
        border: 4px solid transparent;
        border-radius: 100%;
        box-sizing: border-box;
        height: 100px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    .loader-line-wrap:nth-child(1) {
        animation-delay: -50ms;
    }

    .loader-line-wrap:nth-child(2) {
        animation-delay: -100ms;
    }

    .loader-line-wrap:nth-child(3) {
        animation-delay: -150ms;
    }

    .loader-line-wrap:nth-child(4) {
        animation-delay: -200ms;
    }

    .loader-line-wrap:nth-child(5) {
        animation-delay: -250ms;
    }

    .loader-line-wrap:nth-child(1) .loader-line {
        border-color: hsl(0, 80%, 60%);
        height: 90px;
        width: 90px;
        top: 7px;
    }

    .loader-line-wrap:nth-child(2) .loader-line {
        border-color: hsl(60, 80%, 60%);
        height: 76px;
        width: 76px;
        top: 14px;
    }

    .loader-line-wrap:nth-child(3) .loader-line {
        border-color: hsl(120, 80%, 60%);
        height: 62px;
        width: 62px;
        top: 21px;
    }

    .loader-line-wrap:nth-child(4) .loader-line {
        border-color: hsl(180, 80%, 60%);
        height: 48px;
        width: 48px;
        top: 28px;
    }

    .loader-line-wrap:nth-child(5) .loader-line {
        border-color: hsl(240, 80%, 60%);
        height: 34px;
        width: 34px;
        top: 35px;
    }

    @keyframes spin {
        0%,
        15% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .tiny-loader-wrapper {
        @apply inline-block h-10 w-10 mx-auto my-auto rounded-md;
        background: rgba(34, 34, 34, 0.7);
    }
    .tiny-loader-wrapper.in {
        @apply opacity-100;
        -webkit-transform: scale(1);
        transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    }
    .tiny-loader {
        @apply relative w-[62px] h-[80px] mx-auto my-auto mt-0.5;
        zoom: 0.45;
    }
    .tiny-loader div {
        @apply absolute block w-3 h-8 bg-[rgba(255,255,255,0)] animate-[fadeG_0.72s_infinite_linear] m-0 p-0 rounded-lg scale-[0.4];
    }
    .tiny-loader div:nth-of-type(1) {
        @apply -rotate-90 left-0 top-7;
        animation-delay: 0.27s;
    }
    .tiny-loader div:nth-of-type(2) {
        @apply -rotate-45 left-2 top-2.5;
        animation-delay: 0.36s;
    }
    .tiny-loader div:nth-of-type(3) {
        @apply rotate-0 left-[26px] top-[3px];
        animation-delay: 0.45s;
    }
    .tiny-loader div:nth-of-type(4) {
        @apply rotate-45 right-2 top-2.5;
        animation-delay: 0.54s;
    }
    .tiny-loader div:nth-of-type(5) {
        @apply rotate-90 right-0 top-7;
        animation-delay: 0.63s;
    }
    .tiny-loader div:nth-of-type(6) {
        @apply rotate-[135deg] right-2 bottom-[7px];
        animation-delay: 0.72s;
    }
    .tiny-loader div:nth-of-type(7) {
        @apply rotate-180 left-[26px] bottom-0;
        animation-delay: 0.8s;
    }
    .tiny-loader div:nth-of-type(8) {
        @apply rotate-[-135deg] left-2 bottom-[7px];
        animation-delay: 0.9s;
    }

    @keyframes fadeG {
        0% {
            background-color: #ffffff;
        }
        100% {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .react-select__option {
        @apply block text-base text-[#242424] w-full select-none box-border px-3 py-[11px] hover:bg-[#ebecf0];
    }
    .react-select__option_selected {
        @apply bg-[#42526e] text-white hover:bg-[#42526e];
    }
}


.css-r90m2q:disabled, .css-r90m2q[disabled], .css-r90m2q[aria-disabled=true], .css-r90m2q[data-disabled] {
    opacity: 0.7 !important;
    color: #333333 !important;
}

div:where(.swal2-container) {
    z-index: 50000 !important;
}

/* Ag Grid Custom Theme */
.ag-theme-quartz .ag-header {
    background-color: #DBDCDD;
}

.ag-theme-quartz {
    --ag-row-border-style: solid !important;  
    --ag-row-border-color: rgb(188, 188, 188) !important;
    --ag-cell-horizontal-border: solid 1px rgb(206, 206, 206) !important;
}

.ag-watermark{
    opacity: 0 !important;
}

.ag-column-drop-empty-message ag-column-drop-horizontal-empty-message{
    display: none !important;
}

.dots {
    width: 56px;
    height: 13.4px;
    background: radial-gradient(circle closest-side,#222222 90%,#0000) 0%   50%,
         radial-gradient(circle closest-side,#222222 90%,#0000) 50%  50%,
         radial-gradient(circle closest-side,#222222 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 100%;
    background-repeat: no-repeat;
    animation: dots-zcf63l 1s infinite linear;
 }
 
 @keyframes dots-zcf63l {
    33% {
       background-size: calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%;
    }
 
    50% {
       background-size: calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%;
    }
 
    66% {
       background-size: calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%;
    }
 }

 /* Serif font */
 .serif{
    font-family: 'Source Serif Pro', serif;
 }

  /* Inter font */
  .inter{
    font-family: 'Inter', sans-serif;
 }
 
 .special-spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #137aa9;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
         spinner-oaa3wk 1.6s infinite linear;
 }
 
 @keyframes spinner-bulqg1 {
    0% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
 
    12.5% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
 
    25% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
 
    50% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    62.5% {
       clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    75% {
       clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    100% {
       clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
 }
 
 @keyframes spinner-oaa3wk {
    0% {
       transform: scaleY(1) rotate(0deg);
    }
 
    49.99% {
       transform: scaleY(1) rotate(135deg);
    }
 
    50% {
       transform: scaleY(-1) rotate(0deg);
    }
 
    100% {
       transform: scaleY(-1) rotate(-135deg);
    }
 }
