@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: linear-gradient(
        180deg, 
        #eaeaed 10%,                   
        #e7e7ee 40%,   
        #dedee9,
        #ced0e2                       
    ), transparent 0;
    background-repeat:no-repeat;
    min-height: 100%;
    height: auto;
  }

body {
    /* background: #eaeaed !important; */
    background: transparent !important;
}

.ag-root-wrapper-body.ag-layout-normal {
    height: 30rem !important;
}

@layer components {
    .body-no-scroll {
        @apply overflow-hidden;
    }
    .loader {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        z-index: 99999;
        animation: fadeIn 0.25s forwards;
    }

    .loader-inner {
        bottom: 0;
        height: 60px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    .loader-line-wrap {
        animation: spin 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        box-sizing: border-box;
        height: 50px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform-origin: 50% 100%;
        width: 100px;
    }

    .loader-line {
        border: 4px solid transparent;
        border-radius: 100%;
        box-sizing: border-box;
        height: 100px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }

    .loader-line-wrap:nth-child(1) {
        animation-delay: -50ms;
    }

    .loader-line-wrap:nth-child(2) {
        animation-delay: -100ms;
    }

    .loader-line-wrap:nth-child(3) {
        animation-delay: -150ms;
    }

    .loader-line-wrap:nth-child(4) {
        animation-delay: -200ms;
    }

    .loader-line-wrap:nth-child(5) {
        animation-delay: -250ms;
    }

    .loader-line-wrap:nth-child(1) .loader-line {
        border-color: hsl(0, 80%, 60%);
        height: 90px;
        width: 90px;
        top: 7px;
    }

    .loader-line-wrap:nth-child(2) .loader-line {
        border-color: hsl(60, 80%, 60%);
        height: 76px;
        width: 76px;
        top: 14px;
    }

    .loader-line-wrap:nth-child(3) .loader-line {
        border-color: hsl(120, 80%, 60%);
        height: 62px;
        width: 62px;
        top: 21px;
    }

    .loader-line-wrap:nth-child(4) .loader-line {
        border-color: hsl(180, 80%, 60%);
        height: 48px;
        width: 48px;
        top: 28px;
    }

    .loader-line-wrap:nth-child(5) .loader-line {
        border-color: hsl(240, 80%, 60%);
        height: 34px;
        width: 34px;
        top: 35px;
    }

    @keyframes spin {
        0%,
        15% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .tiny-loader-wrapper {
        @apply inline-block h-10 w-10 mx-auto my-auto rounded-md;
        background: rgba(34, 34, 34, 0.7);
    }
    .tiny-loader-wrapper.in {
        @apply opacity-100;
        -webkit-transform: scale(1);
        transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    }
    .tiny-loader {
        @apply relative w-[62px] h-[80px] mx-auto my-auto mt-0.5;
        zoom: 0.45;
    }
    .tiny-loader div {
        @apply absolute block w-3 h-8 bg-[rgba(255,255,255,0)] animate-[fadeG_0.72s_infinite_linear] m-0 p-0 rounded-lg scale-[0.4];
    }
    .tiny-loader div:nth-of-type(1) {
        @apply -rotate-90 left-0 top-7;
        animation-delay: 0.27s;
    }
    .tiny-loader div:nth-of-type(2) {
        @apply -rotate-45 left-2 top-2.5;
        animation-delay: 0.36s;
    }
    .tiny-loader div:nth-of-type(3) {
        @apply rotate-0 left-[26px] top-[3px];
        animation-delay: 0.45s;
    }
    .tiny-loader div:nth-of-type(4) {
        @apply rotate-45 right-2 top-2.5;
        animation-delay: 0.54s;
    }
    .tiny-loader div:nth-of-type(5) {
        @apply rotate-90 right-0 top-7;
        animation-delay: 0.63s;
    }
    .tiny-loader div:nth-of-type(6) {
        @apply rotate-[135deg] right-2 bottom-[7px];
        animation-delay: 0.72s;
    }
    .tiny-loader div:nth-of-type(7) {
        @apply rotate-180 left-[26px] bottom-0;
        animation-delay: 0.8s;
    }
    .tiny-loader div:nth-of-type(8) {
        @apply rotate-[-135deg] left-2 bottom-[7px];
        animation-delay: 0.9s;
    }

    @keyframes fadeG {
        0% {
            background-color: #ffffff;
        }
        100% {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .react-select__option {
        @apply block text-base text-[#242424] w-full select-none box-border px-3 py-[11px] hover:bg-[#ebecf0];
    }
    .react-select__option_selected {
        @apply bg-[#42526e] text-white hover:bg-[#42526e];
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.css-r90m2q:disabled, .css-r90m2q[disabled], .css-r90m2q[aria-disabled=true], .css-r90m2q[data-disabled] {
    opacity: 0.7 !important;
    color: #333333 !important;
}

div:where(.swal2-container) {
    z-index: 50000 !important;
}

/* Ag Grid Custom Theme */
.ag-theme-quartz .ag-header {
    background-color: #dbdcdd;
}

.ag-theme-quartz {
    --ag-row-border-style: solid !important;
    --ag-row-border-color: rgb(188, 188, 188) !important;
    --ag-cell-horizontal-border: solid 1px rgb(206, 206, 206) !important;
    --ag-odd-row-background-color: #f5f5f6;
}

.ag-watermark {
    opacity: 0 !important;
}

.ag-column-drop-empty-message ag-column-drop-horizontal-empty-message {
    display: none !important;
}

/* Custom Group Table */
.ag-theme-quartz .ag-row-group {
    background-color: #e4f2fd !important;
    font-weight: 600;
}

.ag-theme-quartz .ag-row-group:hover {
    background-color: inherit !important;
}

.chakra-tabs__tab .css-akq0dd{
    border-top-left-radius: 8px !important;
}

/* ============ */

.dots {
    width: 56px;
    height: 13.4px;
    background: radial-gradient(circle closest-side, #222222 90%, #0000) 0% 50%,
        radial-gradient(circle closest-side, #222222 90%, #0000) 50% 50%,
        radial-gradient(circle closest-side, #222222 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 100%;
    background-repeat: no-repeat;
    animation: dots-zcf63l 1s infinite linear;
}

@keyframes dots-zcf63l {
    33% {
        background-size: calc(100% / 3) 0%, calc(100% / 3) 100%,
            calc(100% / 3) 100%;
    }

    50% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 0%,
            calc(100% / 3) 100%;
    }

    66% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 100%,
            calc(100% / 3) 0%;
    }
}

/* Serif font */
.serif {
    font-family: "Source Serif Pro", serif;
}

/* Inter font */
.inter {
    font-family: "Inter", sans-serif;
}

.special-spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px solid #17506B;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
    0% {
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%
        );
    }

    12.5% {
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%
        );
    }

    25% {
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }

    50% {
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }

    62.5% {
        clip-path: polygon(
            50% 50%,
            100% 0,
            100% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }

    75% {
        clip-path: polygon(
            50% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }

    100% {
        clip-path: polygon(
            50% 50%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            0% 100%
        );
    }
}

@keyframes spinner-oaa3wk {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}

/* Custom Underline */
.underline--cbg {
    background-image: linear-gradient(120deg, #84fac7 0%, #68a9ca 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.underline--vcn {
    background-image: linear-gradient(120deg, #b984fa 0%, #ffb5fa 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

.css-akq0dd {
    border-top-left-radius: 24px !important;
}

.react-datepicker__time-list-item{
    font-size: 16px;
}

.react-datepicker__time-container{
    width: 100px !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 40px !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 100px !important;
}

.react-datepicker__triangle{
    left: -10px !important;
}

.css-13cymwt-control {
    border-radius: 8px !important;
}

.swal2-confirm .swal2-styled{
    background-color: #7066e0 !important;
}

/* #pdf-content */
/* Khi in, chỉ hiện content */
@media print {
  body * {
    visibility: hidden;   /* Ẩn toàn bộ */
  }
  #pdf-content, #pdf-content * {
    visibility: visible;  /* Chỉ hiện phần content */
  }
  #pdf-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  @page {
    size: A4 landscape !important;
    /* margin: 20mm; */
  }

  #signature-qc {
    page-break-inside: avoid; /* cho Chrome/Edge */
    break-inside: avoid;      /* chuẩn mới */
  }
}

#grid-ket-cau-vcn .ag-row.ag-row-last:not(.ag-row-group) {
    background-color: #FFFFFF !important;
}

#grid-ket-cau-vcn .ag-header-cell{
    background-color: #17506B;
    color: #FFFFFF;
}

#grid-ket-cau-vcn .ag-icon-menu-alt{
    color: #FFFFFF;
}

#grid-ket-cau-vcn .ag-icon-asc{
    color: #FFFFFF;
}

#grid-ket-cau-vcn .ag-icon-desc{
    color: #FFFFFF;
}

#grid-ket-cau-vcn .ag-icon-filter{
    color: #FFFFFF;
}

#grid-ket-cau-vcn .ag-header-cell-resize::after{
    color: #FFFFFF !important;
}

#accordion-ket-cau-vcn .chakra-accordion__panel{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* #ag-grid-baocao-dieuchuyen .ag-row.ag-row-last:not(.ag-row-group) {
    background-color: #FFFFFF !important;
}

#ag-grid-baocao-dieuchuyen .ag-row-footer{
    background-color: #17506B !important;
    color: #FFFFFF !important;
} */

/* #app-ag-grid .ag-row.ag-row-last:not(.ag-row-group) {
    background-color: #e4f2fd !important;
} */

#app-ag-grid .ag-header-cell{
    background-color: #17506B;
    color: #FFFFFF;
}

#app-ag-grid .ag-icon-menu-alt{
    color: #FFFFFF;
}

#app-ag-grid .ag-icon-asc{
    color: #FFFFFF;
}

#app-ag-grid .ag-icon-desc{
    color: #FFFFFF;
}

#app-ag-grid .ag-icon-filter{
    color: #FFFFFF;
}

#app-ag-grid .ag-header-cell-resize::after{
    color: #FFFFFF !important;
    background-color: #FFFFFF !important;
}
#app-ag-grid .ag-header-viewport {
    background-color: #17506B;
}

#app-ag-grid .ag-header-group-cell-label{
    color: #FFFFFF;
}

#app-ag-grid .ag-header-group-cell{
    background-color: #17506B;
    color: #FFFFFF;
}

/* Giữ màu mặc định của SweetAlert2 */
.swal2-confirm, .swal2-cancel {
  color: #fff !important;
  background-color: #17506B !important; /* màu nút xác nhận */
  border: none !important;
}

.swal2-cancel {
  background-color: #aaa !important; /* màu nút hủy */
}

/* Khi hover */
.swal2-confirm:hover {
  background-color: #17506B !important;
}

.swal2-cancel:hover {
  background-color: #6b7280 !important;
}